
body {
  font-family: sans-serif;
  background: #111;
  color: #fff;
  padding: 20px;
}
.container {
  max-width: 600px;
  margin: auto;
}
input, textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  background: #222;
  border: 1px solid #555;
  color: white;
}
button {
  background-color: #FFD700;
  border: none;
  padding: 10px;
  cursor: pointer;
}
.upload-area {
  border: 2px dashed #888;
  padding: 10px;
  margin-bottom: 10px;
}
#previewArea img {
  max-width: 60px;
  margin-right: 5px;
}
footer {
  text-align: center;
  margin-top: 20px;
  font-size: 0.8em;
  color: #aaa;
}
